/* Update your body style for a warm background color */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe5b4; /* light peach color */
    margin: 0;
    padding: 0;
}


h1 { 
    background-color: DodgerBlue; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    border: 5px solid red; /* Add a red border to see it clearly */
}


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav a:hover {
    color: DodgerBlue;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

